<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static "recoverPassword/recoverPasswordRequest.css" %}">
  {% include "landing/head.html" %}


</head>

<body>
    <div class="container">
        {% include "landing/navigation_bar.html" %}
    </div>
    <!-- import registration form -->


  <div class="imageBackground">
              <br>
              <br>
              <br>
              <div class= "container">
                <div class = "row" >
                      <div class="form">
                          <form method="post" action=".">
                              {% csrf_token %}
                               {{ form.as_p }}
                              <button>Login</button>
                          </form>
                        <br>
                        <div class = "link">
                        <a href="{% url 'recover_password' %}">Esqueceu sua Senha?</a>
                      </div>
                      </div>
              </div>
            </div>
  </div>

    <div class="container">
        {% include "landing/footer.html" %}
    </div>


</body>
{% include "landing/javascript.html" %}
</html>
