 {% extends "landing/template.html" %}

  {% block content %}
  <div class="imageBackground">
              <br>
              <br>
              <br>
              <div class= "container">
                <div class = "row" >
                      <div class="form">
                          <form style = "text-align:center" method="post" action=".">
                              {% csrf_token %}
                              <div class="form-group">
                                {% for error in form.email.errors %}
                                <div class="alert alert-danger"role="alert">{{error}}</div>
                                {% endfor %}
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                {{ form.email }}
                              </div>

                              <div class="form-group">
                                {% for error in form.password.errors %}
                                <div class="alert alert-danger"role="alert">{{error}}</div>
                                {% endfor %}
                                <label for="{{ form.password.id_for_label }}" >Senha:</label>
                                {{ form.password }}
                              </div>

                              <input type="hidden" name="next" value="/" />
                              <input class="btn btn-outline-success" type="submit" value="Entrar" />
                          </form>
                        <br>
                        <div class = "link">
                        <a href="{% url 'recover_password' %}">Esqueceu sua Senha?</a>
                      </div>
                      </div>
              </div>
            </div>
  </div>

  {% block javascript %}
    {% if messages %}
        {% for message in messages %}
        <script>
          $.notify({
                message: '{{ message }}'
              },{
                type: "danger",
                placement: {
                  from: "top",
                  align: "center"
                }
          });
          </script>
        {% endfor %}
    {% endif %}
    {% endblock %}

  {% endblock %}
