{% extends "general/template.html" %}

{% block title %}
  <center><h1>Ranking</h1></center>
{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title">Ranking</h4>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-hover table-striped">
                      <thead>
                          <th>Username</th>
                          <th>Exercícios completos</th>
                          <th>Pontuação</th>
                      </thead>
                      <tbody>
                          {% for user, completed_exercises in data %}
                          <tr class='clickable-row'  data-href="{% url 'profile_view' user.username %}">
                              <td>{{user.username}}</td>
                              <td>{{completed_exercises}}</td>
                              <td>{{user.score}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
