{% extends "general/template.html" %} {% block content %}

<style type="text/css" media="screen">
  #editor {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  form>p {
    display: none;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          {{exercise.title}}
          <span class="pull-right label label-warning label-excercise-info">Pendente</span>
          <span class="pull-right label label-primary label-excercise-info">0.934</span>
          <span class="pull-right label label-info">Score 100</span>
        </h4>
        <p class="category">{{exercise.get_category_display}}</p>
      </div>
      <div class="content">
        {{exercise.statement_question|safe}}
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <p class="category text-uppercase">Exemplos de Entrada e Saída</p>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table">
          <thead>
            <tr>
              <th width="50%">
                Entrada
              </th>
              <th>
                Saída
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{input_exercise}}
              </td>
              <td>
                {{output_exercise}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <p class="category text-uppercase">Editor</p>
      </div>
      <div class="content">
        {{ api_response }}
        <form method="post" action="{% url 'process_user_exercise' exercise.id %}">
          {% csrf_token %} {{ form.as_p }}
          <div id="editor"></div>
          <button type="submit" class="btn btn-default btn-fill">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/g/ace@1.2.6(min/ace.js+min/mode-c_cpp.js+min/ext-beautify.js+min/theme-monokai.js)" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/c_cpp");

  const $textarea = $('#id_code').hide();
  editor.getSession().setValue($textarea.val());
  editor.getSession().on('change', function() {
    $textarea.val(editor.getSession().getValue());
  });
</script>
{% endblock %}
