{% extends "general/template.html" %}
{% block title %}
<center><h1>Exercícios</h1></center>
{% endblock %}

<head>
  {% load static %}
    <script src="{% static "show_exercise/show_exercise.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "show_exercise/show_exercise.css" %}">
</head>

{% block content %}
  <div class="card">


          <!-- Nav tabs category -->
          <ul class="nav nav-tabs faq-cat-tabs">
              <li class="active"><a href="#faq-cat-1" data-toggle="tab">Iniciante</a></li>
              <li><a href="#faq-cat-2" data-toggle="tab">Médio</a></li>
              <li><a href="#faq-cat-3" data-toggle="tab">Avançado</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content faq-cat-content">
            <div class="header">
                <h4 class="title">Exercícios</h4>
            </div>

              <div class="tab-pane active in fade" id="faq-cat-1">
                <div class="list-group">
                  <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                          <thead>
                            <th>Título</th>
                            <th>N° Submissões</th>
                            <th>Score</th>
                            <th>Status</th>
                          </thead>
                          <tbody>
                            {% for exercise in list_exercises %}
                            {% if exercise.category == 1 %}
                            <tr class='clickable-row' data-href="{% url 'show_exercise' exercise.id%}">
                              <td>
                                {{exercise.title}}
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>

              <div class="tab-pane fade" id="faq-cat-2">
                <div class="list-group">
                  <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                          <thead>
                            <th>Título</th>
                            <th>N° Submissões</th>
                            <th>Score</th>
                            <th>Status</th>
                          </thead>
                          <tbody>
                            {% for exercise in list_exercises %}
                            {% if exercise.category == 2 %}
                            <tr class='clickable-row' data-href="{% url 'show_exercise' exercise.id%}">
                              <td>
                                {{exercise.title}}
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>

              <div class="tab-pane fade" id="faq-cat-3">
                <div class="list-group">
                  <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                          <thead>
                              <th>Título</th>
                              <th>N° Submissões</th>
                              <th>Score</th>
                              <th>Status</th>
                          </thead>
                          <tbody>
                            {% for exercise in list_exercises %}
                            {% if exercise.category == 3 %}
                              <tr class='clickable-row' data-href="{% url 'show_exercise' exercise.id%}">
                                <td>
                                  {{exercise.title}}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>

          </div>
</div>
{% endblock %}
