{% extends "general/template.html" %}

{% block content %}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=updlo0r454d4jrh4kff0wnptddzz2tl2ybqvqi5fyq7262kk"></script>
<script>
 tinyMCE.init({
        selector:'#id_description',
        menubar:false
 });

 tinyMCE.activeEditor.getContent();

// Get the raw contents of the currently active editor
tinyMCE.activeEditor.getContent({format : 'raw'});

// Get content of a specific editor:
tinyMCE.get('#id_description').getContent();

</script>

  <h1>Create Topic</h1>

  <form method="post" action=".">
      {% csrf_token %}
       {{ form.as_p }}

      <input formnovalidate type="submit" value="Salvar" />
  </form>

{% endblock %}
