{% extends "general/template.html" %}

{% block content %}

      <h1>
        {{topic.title}}
      </h1>
      <h4>
        {{topic.subtilte}}
      </h4>
      <div>
        {{topic.author}}
        {{topic.dateTopic}}
      <div>
      <div>
        {{topic.description|safe}}
      </div>
      <div>
        {% if deletable_topic %}
            <a href="{% url 'delete_topic' topic.id %}">  <button class="btn dropdown-toggle btn-outline-success" type="button" >Deletar Tópico</button></a>
        {% endif %}
      </div>

{% endblock %}
