{% extends "general/template.html" %}

{% block content %}

<div class="container">
  <h2>Tópicos Criados</h2>
  <div class="list-group">
    {% for topic in list_topics %}
      <a href="{% url 'show_topic' topic.id %}"  class="list-group-item">{{topic.title}}  -  {{topic.dateTopic.date}}   - By {{topic.author}} </a>
    {% endfor %}
  </div>
</div>

  <a href="{% url 'create_topic' %}">  <button class="btn dropdown-toggle btn-outline-success" type="button" >Novo Tópico</button></a>

{% endblock %}
