.sidebar .nav > li.active-about {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.clickable-row > td{
    cursor: pointer !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #696969;
}

.typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
}

.label-excercise-info {
    margin-left: 10px;
}
