.sidebar .nav > li.active-about {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.clickable-row > td{
    cursor: pointer !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #696969;
}

.typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
}

.label-excercise-info {
    margin-left: 10px;
}

.label-exercise-status-False {
  background-color: #d9534f;
}

.label-exercise-status-True {
  background-color: #5cb85c;
}
.card > .header {
  padding-bottom: 15px;
}

.card > .header > .title.sub {
  margin-top: 5px;
  color: #607D8B;
}

.card.answer > .header {
  background-color: #4CAF50;
}

.card.best-answer > .header {
  background-color: #4CAF50;
}

.card.best-answer > .header > .title {
  color: #FFF;
}

.ct-series-a .ct-bar {
  /* The width of your bars */
  stroke-width: 20px;
}

.ct-axis-title{
  color: #808080;
  fill: #808080;
}
