{% load static %}
<div class="row">
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-document-text"></i>
    <h4>Tutoriais</h4>
    <p>Nunca codou antes? Nossos tutoriais irão de auxiliar a aprender mais.</p>
  </div>
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-code-working"></i>
    <h4>Exercícios</h4>
    <p>Nossa extensa lista de exercícios vai te ajudar a praticar e melhorar cada vez mais.</p>
  </div>
  <div class="col-md-4 text-center animated bounce">
    <i class="icon ion-ribbon-b"></i>
    <h4>Ranking</h4>
    <p>Seja ranqueado pela a sua atividade na plataforma. Receba pontos e conquistas pelos conteúdos estudados e exercícios solucionados.</p>
  </div>
</div>
<hr>
<footer class="footer">
  <p>&copy; Coda+ 2017</p>
</footer>
