{% load static %}
<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" href="/">
    <img src="{% static "logo/logo.png" %}" width="110px" height="60px" ></img>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Sobre</a>
      </li>
    </ul>

    <div>
      <a href="{% url 'register_view' %}">  <button class="btn dropdown-toggle btn-outline-success" type="button" >Sign Up</button></a>
    </div>

    <div>
      <a href="{% url 'login_view' %}">  <button class="btn dropdown-toggle btn-outline-success" type="button" >Login</button></a>
    </div>


  </div>
</nav>
