{% extends "general/template.html" %}

  <header>
    <title>
      Content
    </title>
  </header>

  {% block content %}

  <style type="text/css" media="screen">
  #column {
      text-align:left;
      width:120px;
  }
  </style>

  <style type="text/css" media="screen">
  #header {
      align:top;
  }
  </style>

  <div class="card">
      <div class="header" id=header style="text-align:center;">
        <table class="table">
          <tr>
            <td>
              <h2 class="title"><b>{{theory.title}}</b></h2>
            </td>
          </tr>
        </table>
      </div>
  </div>

  <div class="card">
      <div class="content ">
        <table class="table">
          <tr>
              <td id = column>
                  {{theory.content | safe}}
              </td>
          </tr>
        </table>
      </div>
  </div>
      <h2>
          <center>Exercise Area</center>
      </h2>

  {% endblock %}
