{% extends "general/template.html" %}

  <header>
    <title>
      Content
    </title>
  </header>

  {% block content %}

  <style type="text/css" media="screen">
  #column {
      text-align:left;
      width:120px;
  }
  </style>

  <style type="text/css" media="screen">
  #header {
      align:top;
  }
  </style>

  <div class="card">
      <div class="header" id=header style="text-align:center;">
        <table class="table">
          <tr>
            <td>
              <h2 class="title"><b>{{theory.title}}</b></h2>
            </td>
          </tr>
        </table>
      </div>
  </div>

  <div class="card">
      <div class="content ">
        <table class="table">
          <tr>
              <td id = column>
                  {{theory.content | safe}}
              </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="card">
      <div class="header" id=header style="text-align:center;">
        <table class="table">
          <tr>
            <td>
              <h3 class="title"><b>Exercícios</b></h3>
            </td>
          </tr>
        </table>
      </div>

      <!-- Tab panes -->
      <div class="tab-content faq-cat-content">
          <div class="tab-pane active in fade" id="faq-cat-1">
            <div class="list-group">
              <div class="content table-responsive table-full-width">
                  <table class="table table-hover table-striped">
                      <thead>
                        <th>Título</th>
                        <th id=align>Categoria</th>
                        <th id=align>N° Submissões</th>
                        <th id=align>Score</th>
                        <th id=align>Status</th>
                      </thead>
                      <tbody>
                        {% for exercise,user_exercise in list_theory_exercises %}
                            <tr class='clickable-row' data-href="{% url 'show_exercise' exercise.id%}">
                              <td id=column>
                                {{exercise.title|truncatechars:40}}
                              </td>
                              <td id=align>{{exercise.get_category_display}}</td>
                              <td id=align>{{user_exercise.number_submission}}</td>
                              <td id=align>{{exercise.score}}</td>
                              <td id=align>
                                  {% if user_exercise.status == True %}
                                    <i class="fa fa-check text-success"></i>
                                  {% elif user_exercise.status == False and user_exercise.number_submission %}
                                    <i class="fa fa-times text-danger"></i>
                                  {% else %}
                                    <!-- Nothing to do -->
                                  {% endif %}
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>


  </div>

  {% endblock %}
