<!doctype html>
<html lang="en">

<head>
    {% csrf_token %}
    {% include "general/head.html" %}
</head>

<body>
    <div class="wrapper">
        {% include "general/side_bar.html" %}
        <div class="main-panel">
            {% include "general/navigation_bar.html" %}
            {% block title %} {% endblock %}
            <div class="content">
                <div class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block modal %} {% endblock %}
</body>

{% include "general/javascript.html" %}

</html>
