<!doctype html>
<html lang="en">

<head>
    {% csrf_token %}
    {% include "general/head.html" %}
</head>

<body>
    <div class="wrapper">
        {% include "general/side_bar.html" %}
        <div class="main-panel">
            {% include "general/navigation_bar.html" %}
            {% block title %} {% endblock %}
            <div class="content">
                <div class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block modal %} {% endblock %}
</body>

{% load static %}

<!--   Core JS Files   -->
<script src="{% static "general/javascript/jquery-1.10.2.js" %}" type="text/javascript"></script>
<script src="{% static "general/javascript/bootstrap.min.js" %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static "general/javascript/bootstrap-checkbox-radio-switch.js" %}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="{% static "general/javascript/chartist.min.js" %}" type="text/javascript"></script>

<!--  Notifications Plugin    -->
<script src="{% static "general/javascript/bootstrap-notify.js" %}" type="text/javascript"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{% static "general/javascript/light-bootstrap-dashboard.js" %}" type="text/javascript"></script>

<!-- Loading dashboard chart -->
<script src="{% static "general/javascript/dashboard.js" %}" type="text/javascript"></script>

{% block javascript %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function(){

        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });

        tinyMCE.init({
               selector:'#id_description',
               menubar:false,
        });

        $('#choose_best_answer').on('shown.bs.modal', function(event) {
            let url_best_answer = $(event.relatedTarget).data('url');
            $("#confirm_choose_best_answer").attr('href', url_best_answer);
        });

        $('#delete_confirmation_answer').on('shown.bs.modal', function(event) {
            let url_delete_answer = $(event.relatedTarget).data('url');
            $("#confirm_delete_answer").attr('href', url_delete_answer);
        });

        demo.initChartist();

    });
</script>


</html>
