<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static "recoverPassword/recoverPasswordRequest.css" %}">
  {% include "landing/head.html" %}

</head>

<body>
    <div class="container">
        {% include "landing/navigation_bar.html" %}
    </div>
    <!-- import registration form -->


  <div class="imageBackground">
              <br>
              <div class="form">
                <p>Identifique-se para receber um e-mail com as instruções e o link para criar uma nova senha.</p>
                  <br>
                  <form method="post" action=".">
                      {% csrf_token %}
                       {{ form.as_p }}
                      <button>Confirmar</button>
                  </form>
              </div>
              <br>
  </div>

    <div class="container">
        {% include "landing/footer.html" %}
    </div>

</body>
  {% include "landing/javascript.html" %}
</html>
