{% extends "landing/template.html" %}

{% block content %}

  <div class="imageBackground">
              <br>
              <div class="form">
                <p>Identifique-se para receber um e-mail com as instruções e o link para criar uma nova senha.</p>
                  <br>
                  <form method="post" action=".">
                      {% csrf_token %}
                       {{ form.as_p }}
                       <input type="hidden" name="next" value="/" />
                       <input class="btn btn-outline-success" type="submit" value="Confirmar" />
                  </form>
              </div>
              <br>
  </div>

{% endblock %}
