{% extends "landing/template.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7 hero">

    </div>
    <div class="col-md-5">
      <br>
      <br>
      <h1><b>Aprenda a Codar!</b></h1>
      <p>O coda mais é uma plataforma que ajuda estudantes a aprender programação na Linguagem C.</p>
      <br>
      <br>
    </div>
  </div>

  {% block javascript %} {% if messages %} {% for message in messages %}
  <script>
    $.notify({
      icon: 'glyphicon glyphicon-star',
      message: '{{ message }}'
    }, {
      placement: {
        from: "top",
        align: "center"
      }
    });
  </script>
  {% endfor %} {% endif %} {% endblock %}

</div>
{% endblock %}
