{% extends "general/template.html" %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Top 5 - Ranking</h4>
                <p class="category">Lista Dinâmica estilo Tabela</p>
            </div>
            <div class="content">
                <!-- Content Structure -->
                  <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                          <thead>
                              <th align = 'center'>Nº exe.</th>
                              <th align = 'center'>Username</th>
                              <th align = 'center'>Pontuação</th>
                          </thead>
                          <tbody>
                              {% for user, completed_exercises in data %}
                              <tr align = 'left' class='clickable-row'  data-href="{% url 'profile_view' user.username %}">
                                  <td align = 'center'>{{completed_exercises}}</td>
                                  <td>{{user.username}}</td>
                                  <td align = 'center'>{{user.score}}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Ranking ordenado pela score
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Quantidade de Exercícios Concluídos por Dia</h4>
                <p class="category">Gráfico Dinâmico</p>
            </div>
            <div class="content">
                <!-- Content Structure -->
                <div id="exercisesMadeByUser" class="ct-chart ct-perfect-fourth ct-series-a"></div>
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Exercícios Certos
                        <i class="fa fa-circle text-danger"></i> Número de Tentativas
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-4">
        <div class="card ">
            <div class="header">
                <h4 class="title">Últimos exercícios realizados</h4>
                <p class="category">Lista Dinâmica estilo Tabela (Máx 5 exerc.)</p>
            </div>
            <div class="content">
                <!-- Content Structure -->
                <div id="chartActivity" class="ct-chart"></div>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>Atualizado X minutos atrás
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card ">
            <div class="header">
                <h4 class="title">Últimos uploads de exercícios</h4>
                <p class="category">Lista Dinâmica estilo Tabela (Máx 5 exerc.)</p>
            </div>
            <div class="content">
                <!-- Content Structure -->
                <div id="chartActivity" class="ct-chart"></div>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>Atualizado X minutos atrás
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card ">
            <div class="header">
                <h4 class="title">Novos Tópicos no Fórum</h4>
                <p class="category">Lista Dinâmica estilo Tabela (Máx 5 exerc.)</p>
            </div>
            <div class="content">
                <!-- Content Structure -->
                <div id="chartActivity" class="ct-chart"></div>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i>Atualizado X minutos atrás
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
